{{#if this.isTestEnvironment}}
  <div class={{this.styles.placeholder-image}}></div>

{{else}}
  {{! template-lint-disable no-redundant-role }}
  <img
    alt=""
    class={{this.styles.image}}
    role="presentation"
    src={{@src}}
  />
  {{! template-lint-enable no-redundant-role }}

{{/if}}