<section class="widgets-widget-4-container">
  <header class="widgets-widget-4-header">
    <h2>Widget 4</h2>
  </header>

  <div class="widgets-widget-4-memo-highlight">
    <Widgets::Widget-4::Memo />
  </div>

  <div class="widgets-widget-4-actions">
    <a data-test-link="All memos" href="#">
      All memos
    </a>
  </div>
</section>